<div class="chat">
  <div class="chat_box chat_alert">
    <%= gettext("Private chats") %>
  </div>
  <div class="chat_scroll">
    <div  class="chat-box">
    </div>
    <div class="clear"></div>
  </div>
</div>
