<div class="chat">
  <div class="chat_box chat_alert">
    <%= @room.title %> -- <%= @user_id %> 
  </div>
  <div class="chat_scroll">
    <%= for u <- @users do %>
      <%= if @user_id != u.user_id do %>
        <div class="chat-box">
          <img class="profile_picture" alt="user_pic" src="<%= getUserIcon(u.user_id) %>" />
          <%= u.nickname %>(<%= u.user_id %>)
        </div>
        <div class="clear"></div>
      <% end %>
    <% end %>
  </div>
</div>
