<!DOCTYPE html>
<html lang="en">

<head>
    <title>Chatlag</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1">
    <link rel="stylesheet" type="text/css" <meta name="viewport"
        content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" />
    <link href="<%= Routes.static_path(@conn, "/css/emoji.css ") %>" rel="stylesheet">


    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/manifest.json">

    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css ") %>" />
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/style/chat.css ") %>" />
</head>
<style>
    .xs {
        font-size: small;
    }
</style>

<body>
    <%= render @view_module, @view_template, assigns %>
    <script type="text/javascript" src='<%= Routes.static_path(@conn, "/js/app.js ") %>'></script>
    <script type="text/javascript" src='<%= Routes.static_path(@conn, "/js/jquery-3.4.1.min.js ") %>'></script>

    <script type="text/javascript" src='<%= Routes.static_path(@conn, "/js/emoji_config.js ") %>'></script>
    <script type="text/javascript" src='<%= Routes.static_path(@conn, "/js/emoji_util.js ") %>'></script>
    <script type="text/javascript" src='<%= Routes.static_path(@conn, "/js/jquery.emojiarea.js ") %>'></script>
    <script type="text/javascript" src='<%= Routes.static_path(@conn, "/js/emoji-picker.js ") %>'></script>

    <script>
        jQuery(document).ready(function ($) {

            window.emojiPicker = new EmojiPicker({
                emojiable_selector: '[data-emojiable=true]',
                // emojiable_selector: '.chat-msg',
                assetsPath: '/img/',
                popupButtonClasses: 'fa fa-smile-o'
            });

            // window.emojiPicker.discover();

            let $trigger = "";
            let $inImage = false;
            let $image = $("#image_file");

            $("#chatroom-share").click(function (event) {
                $(".menu_share_popup").toggle()
            });

            $("#camera-id").click(function (event) {
                console.log("Click")
                event.preventDefault();
                $('#media_name').val("")
                $trigger = "start";
                $inImage = true;
                $image.focus()
                $image.click()
            });

            $(".image-close").click(function () {
                $('#image-display').hide()
                $('#video-display').hide()
                $('#media_type').val("")
                $('#media_name').val("")
                $('#media_size').val("")

            })

            $("#image_file").change(function () {

                readURL(this);

            });

            $("#image_file").focusout(function () {

                $trigger = "";

            });
            $("#image_file").focusin(function () {

                if ($trigger == "" && $inImage) {
                    if ($('#media_name').val() == "") {
                        $('#enable-click').click()
                        $inImage = false;
                    }
                }


            });
        })

        function readURL(input) {

            var reader = new FileReader();


            $('#image-display').hide()
            $('#video-display').hide()

            $('#media_name').val(input.files[0].name)
            $('#media_size').val(input.files[0].size)
            $('#media_type').val(input.files[0].type)


            // check for valid type

            $type = $('#media_type').val()
            $size = $('#media_size').val()

            if ($type.includes("image") || $type.includes("video")) {

                if ($size < 20 * 1024000 + 1) {
                    reader.onload = function (e) {
                        if ($type.includes("image")) {
                            $('#upload-image-pic').attr('src', e.target.result);
                            $('#image-display').show()
                        } else {
                            if ($type.includes("video")) {
                                $('#upload-video').attr('src', e.target.result);
                                $('#upload-video').attr('type', $type);
                                $('#video-display').show()
                            } else {
                            }
                        }
                        // $('#media_content').val(e.target)

                        var fd = new FormData();
                        var files = input.files[0];
                        var csrf = $('input[name="csrf"]').val();
                        fd.append('file', files);
                        fd.append('_csrf_token', csrf);

                        $.ajax({
                            url: '/img_uploads',
                            type: 'post',
                            data: fd,
                            contentType: false,
                            processData: false,
                            success: function (response) {
                            },
                            error: function (response) {
                                $(".error-msg").html("אירעה שגיאה בעת העלאת הקובץ")
                                $(".error-msg").show()
                                $('#media_type').val("")
                                $('#media_name').val("")
                                $('#media_size').val("")
                            },
                        });

                    }
                    console.log("start upload")
                    reader.readAsDataURL(input.files[0]);
                } else {
                    alert("קובץ גדול מדי. לא ניתן להציג. גודל מקסימלי 20MB")
                    if ($type.includes("image")) {
                        $("#upload-image-pic").hide();
                        $('#image-display').show()
                    }
                    if ($type.includes("video")) {
                        $("#video-tag").hide();
                        $('#video-display').show()
                    }
                    // $(".error-msg").html("קובץ גדול מדי. לא ניתן להציג. גודל מקסימלי 20MB")
                    $(".error-msg").show()
                    $('#media_type').val("")
                    $('#media_name').val("")
                    $('#media_size').val("")
                }
            } else {
                alert("סוג קובץ זה לא נתמך על ידי המערכת")
                $('#media_name').val("")
                $('#media_size').val("")
                $('#media_type').val("")

                $('#upload-image-pic').attr('src', '');

            }
            $inImage = false;
        }

        function startUpload(formData) {

            jQuery.ajax({
                type: 'POST',
                url: '/img_uploads',

                data: formData,
                processData: true, //IMPORTANT!

                cache: false,
                contentType: false,



                success: function (data) {
                    console.log("SUCCESS", data)
                },

                error: function (data) {
                    console.error(data);
                }
            })
        }
    </script>
</body>

</html>